.title {
    text-align: center;
}



.footer {
    position: sticky;
    bottom: 0;
    opacity: 0.5;
}


.container {
    padding-top: 20px;
    margin-top: 50px;
    background-color: rgb(127, 169, 194); /* set initial background color */
    animation: color-change 5s infinite; /* apply animation */
}

.container text-center{
    background-color: aliceblue;
    margin-top: 20px;
    margin-bottome: 20px;
}

.carousel {
    width: 100%;
}

.carousel-item img {
    height: 800px;
    object-fit: cover;
}

.carousel-item {
    transition: transform 0.3s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transform: translateX(0);
}
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    transform: translateX(0);
}

.carousel-item-left,
.carousel-item-right {
    transform: translateX(0);
}

.display-4 {

    font-weight: bold;
    font-family: Arial, sans-serif;
}



#myBtn:hover {
    background-color: #37ff00;
}

